.main-page-heading {
	color:#DF0B0B;
	font-size: 2.1em;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 0px;
}

#page-tagline {
	margin-top: 0px;
	margin-bottom: 40px;
}

.scrollable-section-header {
	color:#DF0B0B;
	font-size: 1.3em;
	font-weight: normal;
	text-align: center;
	margin-bottom: 20px;
}

.scrollable-section-header .left-arrow {
	float:left;
	margin-top: 0px;
} 
.scrollable-section-header .right-arrow {
	float:right;
	margin-top: 0px;
} 

.add-lift-footer {
	background-color: transparent;
	background-image: none;
	border-width: 0px;
}
.add-lift-footer .ui-submit {
	background-color: #D64300;
	background-image: none;
	color: white;
}

.add-lift-footer span {
	text-shadow: none;
	background-color: #D64300;
	background-image: none;
	color: white;
}

.reps-button {
	bottom: 0.65em;
	float: right;
}

.lifts-accordion-expanded {
	width:100%;
	vertical-align: middle;
}

.lifts-accordion-expanded th{
	width: 4em;
	height:3em;
	padding-right: 20px;
}

.lifts-accordion-expanded td{
	padding: 1px 5px;
}

.lifts-accordion-expanded .ui-checkbox {
	text-align: center;
	width:2em;
}

.lifts-accordion-expanded .large-checkbox{
	position: relative;
	left:0px;
	margin: 0;
	width: 2em;
	height: 2em;
}

.lifts-accordion-expanded div.ui-input-text {
	width: 30px;
	margin-left: 5px;	
}

